*{margin: 0;
margin:0 auto 0 auto;
    padding:0 0 0 0;}
body{
    background: #fffffa;
}

.contenedortabla .card::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
.contenedortabla .card::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}
.contenedortabla .card::-webkit-scrollbar-thumb
{
    background: rgba(60,173,63,1.074);
}
/*.contenedortabla{
width: 100%;
padding-top: 18px;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
    
}*/

#izquierda{
       margin-left: 100px;
}

.contenedor{
width: 100%;
padding-top: 18px;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
    
}
.imagenlogo{
    margin-left: 20px;
	width: 100px;
	height: 100px;
	border-radius: 100px;
}
.imagen1{
    background: #fff;
	width: 32px;
	height: 32px;
	border-radius: 20px;
}

.imagen{
	width: 32px;
	height: 32px;
	border-radius: 20px;
}

    #titulo{
        border-radius: 6px;
    color: #000000;/**828282*/
    background-color: #c2b3b2;
    align-content: center;
    text-align: center;
    text-align-last: center;/**/
    margin: 0 0 10px;
    
    text-align: left; 
    font-family: sans-serif; 
font-size: 25px; 
/*COLOR: #1278BF;*/
    /*text-shadow: 0px 0px 9px #508AD3;*/
}

#p2 {
    border-radius: 6px;
    color: #000000;
    background-color: #7a8ad7;
    align-content: center;
    margin: 0 0 10px;
    padding: 10px;
}

#p1 {
    border-radius: 6px;
    color: #000000;
    background-color: #8b8b8b;
    align-content: center;
    margin: 0 0 10px;
    padding: 10px;
}
/*//////////////*/
img {
    vertical-align: middle;
   
}
img {
    border: 0;
}
p {
    border-radius: 6px;
    color: #000000;
    background-color: #828282;
    align-content: center;
    margin: 0 0 10px;
}
.colorboton{
    background: #7a342d;
}
.barra_titulo {
    background: #c0675e;
    font-family: sans-serif;
    font-size: 25px;
    color: #000000;
    border-radius: 7px 10px 7px;
}
/*////////////////////////////////////////*/
    
#menu {
    background: #601008;    
    /*background: #505959;*/
    margin: 0;
    margin-left: 0;
    padding-top: 3px;
    margin-bottom: 0;
    padding: 0;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
   
}

@media screen and (min-width:1080px) {/*CAMBIAR TAMAÑO DEL MENU DE INICIO*/
  #menu {
      
      background: #931f14;
   /* background: #969643;*/
   min-height: 1000px;
      width: 180px;
        /*height: 1080px;*/
     border-radius: 2px; 
    

}   
    
    .contenedor1{

width: 100%;
padding-top: 30px;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
    
}
a {
    border-radius: 10px;
     background: rgba(149, 47, 87, 0.3);
    /*background: rgba(82,82,82, 0.3);*/
    padding: 10px;
    color: white;
    font-family: sans-serif;
}
a:link {
    text-decoration: none;
}

    .fondo{
	/*background: #777422;*/
    padding: 14px;
   margin: 12px;
     border-radius: 30px;
	border: 1px solid white;
	border-radius: 5px;
	text-align: center;
   
}
}
@media screen and (min-width:360px) {
  #menu {
      background: #931f14;
   /* background: #969643;*/
   height: 640px;
      

}
     a {
    border-radius: 10px;
    background: rgba(82,82,82, 0.3);
    padding: 10px;
    color: white;
    font-family: sans-serif;
}
a:link {
    text-decoration: none;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
     .contenedor1{

width: 100%;
padding-top: 20px;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
    
}
    
    
    .fondo{
	/*background: #777422;*/
    padding: 2px;
     border-radius: 30px;
	border: 1px solid white;
	border-radius: 5px;
	text-align: center;
   
}
    

}
@media screen and (min-width:60px) { /*para editar menu en estilo*/
  #menu {
    background: #B5B8B1;
   height: 740px;

}
    a {
    border-radius: 10px;
    background: rgba(82,82,82, 0.3);
    padding: 10px;
    color: white;
    font-family: sans-serif;
}
a:link {
    text-decoration: none;
}
p {

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
}

@media screen and (max-width:1080px) and (min-width:740px) {

    
    #menu {
        background: #B5B8B1;
    /*background: #969643;*/
        width:100%;
   height: 330px;

}
    .contenedor1{
align-content: center;
width: 100%;
padding-top: 30px;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
    
}
a {
    border-radius: 10px;
    background: rgba(82,82,82, 0.3);
    padding: 10px;
    color: white;
    font-family: sans-serif;
}
a:link {
    text-decoration: none;
}
p {
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
        .imagen{
    width: 32px;
    height: 32px;
    border-radius: 20px;
}
  


    .fondo{
	/*background: #777422;*/
    padding: 9px;
   
     border-radius: 30px;
	border: 1px solid white;
	border-radius: 5px;
	text-align: center;
   
}
 
}


@media screen and (max-width: 800px) {
      #menu{
        width:100%;
             }
     a {
    border-radius: 10px;
    background: rgba(82,82,82, 0.3);
    padding: 10px;
    color: white;
    font-family: sans-serif;
}
a:link {
    text-decoration: none;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
    
}




header{
	width: 100%;
}

.navegacion{
	width: 1000px;
	margin: 30px auto;
	background: #fff;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
    right: -28px;
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 1px 2px;
   
	color: #F0F0F0;/*colorde letra menu lista primera*/
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #000;
	transition: all .1s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #828282;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s;
    border-radius: 20px;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}


/***{{{{{{{{{{{{{{{{{{*/
/*estilo reloj*/

#inicio{
    background: #c84548;
    background-color:rgba(255,0,0,0.4);
    border-radius: 3px;
   box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); 
}


.contenedorreloj {
  width: 90%;
  height: 100%;
  position: relative;
  max-width: 1000px;
  margin: auto;
 /* background: #7791d5;*/
  /*background: #ccc;*/
   /* box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);*/
    
}


.widget {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.widget p {
  display: inline-block;
  line-height: 1em;
}
.fecha {
  font-family: arial;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 5px;
   background: #7791d5;
  /*background: rgba(0,0,0,.5);*/
  padding: 20px;
  width: 100%;
}
.reloj {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 400px;
  padding: 20px;
  font-size: 4em;
  text-align: center;
  background: rgba(0,0,0,.5);
}
.reloj .cajaSegundos {

  display: inline-block;  
}
.reloj .ampm, .reloj .segundos{
 
 /* display: block;*/
  font-size: 2rem;
}

/***{{{{{{{{{{{{{{{{{{*/